<header id="header">
    <a id="me" href="/">
        <div id="avatar"><img src="/img/me.png"></div>
        <span id="name">Matt Cain</span>
    </a>
    <p id="webdev">Web Developer</p>

    <div id="mobile-nav-trigger">
        <i class="fa fa-bars"></i>
    </div>

    <nav id="main-nav" class="closed">
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        <div id="social">
            <a href="https://twitter.com/caincode">
                <img src="/img/twitter.png">
            </a>
            <a href="https://github.com/MattCain">
                <img src="/img/github.png">
            </a>
            <a href="https://stackoverflow.com/users/1003994/matt-cain">
                <img src="/img/so.png">
            </a>
            <a href="https://uk.linkedin.com/pub/matthew-cain/75/689/8bb/">
                <img src="/img/linkedin.png">
            </a>
        </div>
    </nav>
</header>